/*.site {
  display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
}*/

.site-header {
  grid-area: header;
  margin-bottom: 0em;
  padding: 0;
  background-color: #ffd31d;
}

.site-main {
	//grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 1em;
  background-color: #f6eedf;
  border-radius: 1px;
  padding: 10px;
}

.widget-area {
	//grid-area: sidebar;
  float: right;
  top: 0;
  right: 0;
  margin-top: 5em;
  margin-right: 3em;
  position: absolute;
  background-color: #f6eedf;
  border-radius: 1px;
  border: 1px solid black;
}

.site-footer {
  grid-area: footer;
  background-color: #f57b51;
  color: #FFFFFF;
  height: 60px;
}

//@import "no-sidebar";
