h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-decoration: none;
  color: #111111;
}

h2 {
  color: $color__text-main;
  font-size: 1.5em;
  margin: 1em 1em;
  text-decoration: none;
  text-underline: none;
}

